<section>
  <%= form_with url: menu_items_path, class: "pad" do |form| %>
  <%= form.hidden_field :menu_id, value: menu.id %>
  <%= form.text_field :name, placeholder: "Item Name", class: "add_iname" %>
  <%= form.text_field :description, placeholder: "Description", class: "add_ides" %>
  <%= form.number_field :price, placeholder: "Price in Rs per item", class: "add_iprice" %>
  <%= image_submit_tag "add.png",
              alt: "Delete",
              onclick: "this.form.submit()",
              class: "plus" %>
<% end %>
<br/>
<ul class="pad">
  <% menu.menu_items.each do |item| %>
    <li class="flex small_bot_pad">
      <% if item.image.attached? %>
        <%= image_tag item.image, class: "item_image" %>
      <% else %>
        <img src="<%= asset_path 'no_image.png' %>" class="item_image">
      <% end %>

      <%= form_with url: "/menu_items/#{item.id}", method: "patch" do |form| %>
        <br/>
        <%= form.file_field :image, onchange: "this.form.submit()" %>
        <br/><br/>
        <%= form.text_field :name, value: item.name, class: "item_input" %> :
        <%= form.text_field :description, value: item.description, class: "itemd_input" %> @
        <%= form.number_field :price, value: item.price, class: "itemp_input" %>
        <%= form.submit "Update", class: "update_btn" %>
      <% end %>
      <%= form_with url: "/menu_items/#{item.id}", method: "delete" do |form| %>
        <%= image_submit_tag "delete-48.png",
                  alt: "Delete",
                  onclick: "this.form.submit()",
                  class: "trashcan" %>
      <% end %>
    </li>
  <% end %>
</ul>
<section>
