<section class="w-1/3 mx-auto">
  <h1 class="m-2 p-2 text-2xl"> Update Your profile </h1>

  <%= form_with url: "/users/#{current_user.id}", method: "patch" do |form| %>
    <div>
      Name  :<br/>
      <%= form.text_field :name, value: current_user.name, class: "m-3 px-6 py-2 rounded-md bg-gray-300" %>
    </div>
    <br/>
    <div>
      Email :<br/>
      <%= form.email_field :email, value: current_user.email, class: "m-3 px-6 py-2 rounded-md bg-gray-300" %>
    </div>
    <br/>
    <div>
      Password :<br/>
      <%= form.password_field :password, value: current_user.password, class: "m-3 px-6 py-2 rounded-md bg-gray-300" %>
    </div>
    <br/>
    <%= form.submit "Update Profile", class: "bg-indigo-300 hover:bg-green-300 m-3 px-6 py-2 rounded" %>
  <% end %>
</section>
