<section>
  <h2> Users </h2>
  <%= form_with url: users_path do |form| %>
      <%= form.text_field :name, placeholder: "User Name" %>
      <%= form.select :role, ["Customer", "Billing Clerk", "Owner"] %>
      <%= form.email_field :email, placeholder: "User Email" %>
      <%= form.password_field :password, placeholder: "User Password" %>
    <%= form.submit "Add User" %>
  <% end %>
  <br/>
  <h3> Owners/Admins </h3>
  <%= render partial: "user-table", locals: {users: User.owners} %>
  <br/>
  <h3> Clerks </h3>
  <%= render partial: "user-table", locals: {users: User.clerks} %>
  <br/>
  <h3> Customers </h3>
  <%= render partial: "user-table", locals: {users: User.customers} %>
</section>
