<section>
  <h2> Your Cart </h2>
  <%
    total_price = 0
    menu_items_ids = []
    menu_items_quantities = []
  %>
  <ul>
    <% Cart.all.each do |item| %>
      <li>
        <%= item.menu_item_name %>
        <% if MenuItem.where(id: item.menu_item_id).empty? %>
          No longer exist
        <% else %>
          <%
            total_price += item.quantity * item.menu_item_price
            menu_items_ids.push(item.menu_item_id)
            menu_items_quantities.push(item.quantity)
          %>

          Rs <%= item.menu_item_price %>

          <%= form_with url: "/carts/#{item.id}", method: "patch" do |form| %>
            <%= form.number_field :quantity,
              value: item.quantity,
              placeholder: "Quantity",
              onchange: "this.form.submit()"
            %>
          <% end %>
        <% end %>
        <%= form_with url: "/carts/#{item.id}", method: "delete" do |form| %>
          <%= form.submit "Delete" %>
        <% end %>
      </li>
    <% end %>
  </ul>
  <h3>Total Price : <%= total_price %> </h3>


  <%= form_with url: "/orders", method: "post" do |form| %>
    <%= form.text_field :ids, value: menu_items_ids.join(" "), style: "display: none" %>
    <%= form.text_field :quantities, value: menu_items_quantities.join(" "), style: "display: none" %>
    <%= form.submit "Order Now" %>
  <% end %>
</section>
