<section>
  <h2> Your Cart </h2>
  <%
    total_price = 0
  %>
  <ul>
    <% @current_user.carts.each do |item| %>
      <li class="flex">
        <b><%= item.menu_item_name %></b>
        <% if MenuItem.where(id: item.menu_item_id).empty? %>
          No longer exist
        <% else %>
          <%
            total_price += item.quantity * item.menu_item_price
          %>
          <i class="small_left_pad">
          @ Rs <%= item.menu_item_price * item.quantity %>
          </i>
          <%= form_with url: "/carts/#{item.id}", method: "patch", class: "small_left_pad" do |form| %>
            <%= form.number_field :quantity,
              value: item.quantity,
              placeholder: "Quantity",
              onchange: "this.form.submit()"
            %>
          <% end %>
        <% end %>
        <%= form_with url: "/carts/#{item.id}", method: "delete", class: "small_left_pad" do |form| %>
          <%= image_submit_tag "delete-48.png",
                            alt: "Delete",
                            onclick: "this.form.submit()",
                            class: "trashcan" %>
        <% end %>
      </li>
    <% end %>
  </ul>
  <% if total_price > 0 %>
    <h3>Total Price : <%= total_price %> </h3>


    <%= form_with url: "/orders", method: "post" do |form| %>
      <%= form.submit "Order Now", class: "btn_createm btn" %>
    <% end %>
  <% else %>
    <br/><br/>
    <h3>Cart is empty! <a href="/menus"> Go to menu </a> </h3>
  <% end %>
</section>
