<ul>
  <% Order.delivered(false).each do |order| %>
      <% user = order.user %>
      <% if (not user.nil?) %>
        <li class="ilist">
          <% if @current_user.role == "Billing Clerk" and order.delivered_at.nil? %>
              <%= form_with(url: "/orders/#{order.id}", method: "patch") do |form| %>
                    <%= form.date_field :date, value: Date.today %>
                    <%= form.check_box :active ,
                                      onclick: "this.form.submit()",
                                      class: "checkbox_active" %>
              <% end %>
          <% end %>
          <h3>
            <%= "Ordered on #{order.date.to_s(:long)} by #{user.name}" %>
          </h3>
          <h3>
            <%= "Delivered on #{order.delivered_at.to_s(:long)} " if not order.delivered_at.nil? %>
          </h3>

          <ul class="control hide">
            <% order.order_items.each do |item| %>
              <li> <%= "#{item.menu_item_name} @ Rs #{item.menu_item_price}" %> </li>
            <% end %>
          </ul>
        </li>
      <% end %>
  <% end %>
</ul>
