<ul>
  <h2> Total Sales : Rs
  <%= Order.delivered(true).map { |order|
        order.order_items.map { |item|
          item.menu_item_price
        }.sum
      }.sum
    %>
  </h2>
    <% Order.delivered(true).each do |order| %>
      <% user = order.user %>
      <% if not user.nil? do %>
        <li class="smooth_border ilist">
          <% if @current_user.role == "Billing Clerk" and order.delivered_at.nil? %>
            <%= form_with(url: "/orders/#{order.id}", method: "patch") do |form| %>
                  <%= form.date_field :date %>
                  <%= form.check_box :active ,
                                    onclick: "this.form.submit()",
                                    class: "checkbox_active" %>
            <% end %>
          <% end %>
          <h3><%= "Ordered on #{order.date.to_s(:long)} by #{user.name}" %></h3>
          <h3><%= "Delivered on #{order.delivered_at.to_s(:long)} " if not order.delivered_at.nil? %></h3>
          <div class="control hide">
            <ul class="pad">
              <% order.order_items.each do |item| %>
                <li class="flex small_bot_pad">
                  <%= "#{item.menu_item_name} @ Rs #{item.menu_item_price}" %>
                </li>
              <% end %>
            </ul>
          </div>
          <hr/>
        </li>
      <% end %>
    <% end %>
  </ul>
