<!DOCTYPE html>
<html>
  <head>
    <title>Cafeteria</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <style>
      body {
        background: url('<%= asset_path 'back.png' %>') fixed;
        height: 100%;

        /* Center and scale the image nicely */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        font-family: sans-serif;
      }
    </style>
  </head>

  <body>
    <main class="center">
      <h1 align="center"> A Cafeteria Company </h1>

      <% if @current_user %>

        <% if @current_user.role == "Owner" %>
          <%= render partial: "owner-home-menu" %>
        <% elsif @current_user.role == "Billing Clerk" %>
          <%= render partial: "clerk-home-menu" %>
        <% elsif @current_user.role == "Customer" %>
          <%= render partial: "customer-home-menu" %>
        <% end %>

      <% end %>

      <% if @current_user %>
        <div class="flex welcome_user">
          <h1> Hi <%= @current_user.name %> ! </h1>
          <h4> <%= link_to "Sign out!", destroy_session_path, method: "delete" %> </h6>
        </div>
      <% else %>
        <h1> Please <a href="/signin">signin</a> or <a href="/users/new">signup</a> here</h1>
      <% end %>

      <% if flash[:error] %>
        <p class="error"> <%= flash[:error] %> </p>
      <% end %>

      <%= yield %>
    </main>
    <script>
      callback = function() {
        div = this.getElementsByClassName("control")[0]
        div.style.display = ""
        div.className = "control"
        for (let i=0; i<menus.length; i++) {
          if (this != menus[i]) {
            let e = menus[i].getElementsByClassName("control")[0]
            e.style.display = "none"
            e.className = "control hide"
          }
        }
      }

      function onload() {
        menus = document.getElementsByClassName("ilist")
        for (let i=0; i<menus.length; i++) {
          let e = menus[i].getElementsByClassName("control")[0]
          if (e.onclick != null) {
            e.style.display = "none"
          }
        }
        for (let i=0; i<menus.length; i++) {
          menus[i].onclick = callback
        }
      }
      document.addEventListener("DOMContentLoaded", onload);
      setInterval(onload, 100);
    </script>
  </body>
</html>
